*{
    margin: 0;
    padding: 0;
}
footer{
    color:white;
    background-color: #2a4f6e;
    padding-bottom: 20px;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.icons{
    display: flex;
    justify-content: space-between;
    width: 200px;
}
.text{
    display: flex;
    justify-content: center;
    font-size: 14px;
}

hr{
    margin:20px;
    border-width: 1px;
}

.facebook{
    background-image: url(./images/fb_gray.png);
}
.facebook:hover{
    background-image: url(./images/fb.png);
}
.instagram{
    background-image: url(./images/insta_gray.png);
}
.instagram,.youtube,.facebook{
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;

}
.instagram:hover{
    background-image: url(./images/insta.png);
}

.youtube{
    background-image: url(./images/youtube_gray.png);
}
.youtube:hover{
    background-image: url(./images/youtube.png);
}

.items{
    font-size: 16px;
    list-style-type: none;
}
.items li:hover{
    text-decoration: underline;
}
