
*{
    margin:0;
    padding: 0;
}
.clock{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid green;
    position: absolute;
}

.clock .point{
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin: auto;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}
.clock .hour{
    position: absolute;
    height: 100%;
    width: 7px;
    margin:0 auto;
    right: 0;
    left: 0;
    animation:time 60s infinite linear;
}

.clock .hour::before{
    height: 60px;
    width: 3px;
    content: "";
    position: absolute;
    top: 40px;
    background-color: black;
}



.clock .minute{
    position: absolute;
    height: 100%;
    width: 4px;
    margin:0 auto;
    right: 0;
    left: 0;
    animation:time 45s infinite linear;
}
.clock .minute::before{
    height: 40px;
    width: 4px;
    content: "";
    position: absolute;
    top: 60px;
    background-color: black;

}
@keyframes time {
    to {
        transform: rotate(360deg);
    }
}