*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;

}
.menu ul{
margin: 0;
    padding: 0;
}
.menu ul li{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    background-color: #939191;
    list-style-type: none;
}
.menu  ul  li i{
    margin-right: 15px;
}
.menu ul li:hover {
    background-color: #2a4f6e;
}