*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    background-color: deepskyblue;
    margin-bottom: 20px;
}
.menu,footer{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 70px;
    background-color: royalblue;
}
.content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
}
.asides{
    display: block;
    width: 20%;
    margin-right: 20px;
}
.aside1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: deepskyblue;
    width: 100%;
    height: 90px;
    margin-bottom: 20px;
}
.aside2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: deepskyblue;
    width: 100%;
    height: 140px;
}
.main{
    display: block;
    width: 70%;
    background-color: deepskyblue ;
    padding: 50px;
    margin-right: 20px;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: #2acdff;
    margin-top: 20px;
}
.aside3{
    width: 10%;
    height: 250px;
    background-color: deepskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
}